@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body{
    font-family: "Roboto Flex", sans-serif;
}
a{
    text-decoration: none;
    color: blueviolet;
}

.barra_logo i{
    display: flex;
    font-size: 50px;
    
}
.barra{
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    padding: 20px 50px;
}

.barra_link_ingresar{
    background: #9b4eb9;
    border-radius: 30px ;
    border: none;
    font-size: 17px;
    color: aliceblue;
width: 88px;
height: 30px;
}

.contenido_boton{
    background: #9b4eb9;
    border-radius: 30px ;
    border: none;
    margin-left: 35px;
    margin-top: 15px;
    color: white;
    width: 150px;
    height: 30px;
}

.titulo{
    padding-left: 1.5%;
    padding-top: 1%;
}

.contenido_a{
    padding-inline: 30px;
}
.contenido_b{
    padding-inline: 30px;
}
.box1{
    background: rgb(241, 161, 224);
    border-radius: 20px;
    width: 300px;
    height: 300px;
    text-align: center;
    box-shadow:0px 0px 13px #b970d6;
    
    margin-inline: 500px;
}
.box2{
    background: rgb(245, 207, 237);
    border-radius: 20px;
    width: 300px;
    height: 300px;
    text-align: center;
    box-shadow:0px 0px 13px #b970d6;
    color: rgb(0, 0, 0);
    margin-inline:900px;
    margin-top: -318px;
}
.box_title{
    padding-top: 3px;
    background: #ffa7e2;
    border-radius: 20px;
    box-shadow: 0px 0px 13px #c245b1;
    color: aliceblue;
}
hr{
    border-top: 6px solid #9b4eb9;
    border-radius: 20px;
    size: 400px;
    
}
.barra_link:hover{
    font-size: 22px;
    color: #b970d6;
}

.barra_link_ingresar:hover{
    background-color: #b970d6;
}
.contenido_boton:hover{
    background-color: #b970d6;
    font-size: 15px;
    width: 150.2px;
    height: 30px;
}
.barra_logo i:hover{
    font-size: 51px;
    color: #b970d6;
    
}
.barra_link_ingresar:hover{
    font-size: 18px;
    
}
.fp{
    padding-top: 150px;
}